  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

:root{
    --colorTitle: #36393F;
    --colorParagraph: #696969;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

/* header{
    display: grid;
    height: max-content;
    width: 100%;
    background-color:white;
} */

.imageTitle {
    width: 100%;
    height: max-content;

}

.headerTitle{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 2em;
    color: black;
    padding-bottom: 2em;
}

.headerLogoTitle{
    max-width: 5%;
    padding: 2em 0em;
    grid-area: logo;

}

.imageTitle{
    width: 100%;
    position: absolute;
}
.blockTextHeader{
    grid-area: text;
    background-color: yellow;
    max-width: 80%;
    text-align: center;
}

.bodyTextTitleSetting{
    font-size: larger;
    color: var(--colorTitle);
    padding-bottom: 10px ;
}
.bodyTextParagraphSetting{
    color: var(--colorParagraph);
    font-size: medium;

}
/* 
body {

} */

.firstSnippet{
    display: grid;
    background-color: pink;
    grid-template-areas: 
        "title title title"
        "monitor textgroup .";
        column-gap: 5%;
}
.firstSnippetBlockTextMain{
    grid-area: title;
    text-align: center;
    padding: 3%;
}


.firstSnippetMonitor{
    grid-area: monitor;


}

.firstSnippetBlockText{
    grid-area: textgroup;

    text-align: start;
    background-color: yellow;
    padding: 3%;
    max-width: 80%;

}



footer{
    background-color: PINK;
    height: 400px;
    width: 100%;
}